@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: #D0B8A8;
}
h2 {
    font-size: 30px;
}

p {
    font-size: 18px;
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background-color: #F8EDE3;
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

.stats-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 30px #85586f;
}

.stats-card {
    background-color: #DFD3C3;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 40px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #DFD3C3;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px #85586f;
    transition: 0.3s;
}

#button-container {
    text-align: center;
}

button {
    background-color: #F8EDE3;
    color: black;
    font-family: 'Cabin';
    border: none;
    font-size: 18px;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
    transition: 0.3s;
}

button:hover {
    background-color: #85586f;
    color: white;
    cursor: pointer;
}